.container {
  position: absolute;
  top: 80px;
  right: 0;
  width: 500px;
  background-color: var(--bg);
  height: calc(100vh - 70px);
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 3px;
  border: 1px solid #1b75d0;
  padding: 7px 9px;
  border-radius: 5px;
  margin: 10px 20px;
}

.searchContainer svg {
  font-size: 20px;
}

.searchContainer input {
  border: none;
  outline: none;
  background-color: var(--bg);
  color: var(--textColor);
  width: 100%;
}

@media screen and (max-width: 530px) {
  .container {
    width: 100%;
  }
}