.container {
  display: flex;
  position: relative;
  height: 100dvh;
  overflow: hidden;
}

.profile {
  margin-bottom: 20px;
  cursor: pointer;
}

.profileImg {
  border-radius: 50%;
  object-fit: cover;
}

.profile div {
  display: flex;
  width: 100%;
}

.person {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.person p {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.personContainer_1 {
  overflow-x: scroll;
}

.personContainer_1 .info {
  display: flex;
  justify-content: space-between;
}

.personContainer_1 .info span {
  padding-right: 5px;
}

.personContainer_1 .info .notification {
  background-color: #07bc2f8c;
  border-radius: 3px;
  padding: 3px 12px;
  width: fit-content;
  height: fit-content;
}

.personContainer_1::-webkit-scrollbar {
  display: none;
}

.personContainer,
.personContainer_1 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.personContainer span,
.personContainer_1 span {
  font-size: 15px;
  font-weight: bold;
}

.personContainer div,
.personContainer_1 div {
  font-size: 13px;
}

.left {
  width: 300px;
  background-color: var(--lightBg);
  position: absolute;
  /* top: 80px; */
  height: 100vh;
  padding: 10px;
  overflow-y: scroll;
  z-index: 1;
  border-right: 1px solid var(--bg);
}

.left::-webkit-scrollbar {
  display: none;
}

.left h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

.left .chats {
  margin-top: 20px;
  margin-bottom: 100px;
}

.left .chats .all {
  display: block;
  margin-bottom: 20px;
}

.right {
  width: 100%;
  position: relative;
}

.right .container {
  border-bottom: 1px solid var(--lightBg);
  background-color: var(--bg);
  width: 100%;
  height: 80px;
}

.right .header {
  width: 100%;
  padding-top: 15px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.right .chats {
  padding-top: 100px;
  padding-bottom: 60px;
  margin-left: 10px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* .right .chats .chatTop {
  padding-bottom: 150px;
} */

.right .chats::-webkit-scrollbar {
  width: 20px;
}

.right .chats::-webkit-scrollbar-thumb {
  background-color: var(--lightBg);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.right .chats .chatRight {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.right .chats .chatRight .rightText,
.right .chats .chatLeft .leftText {
  width: fit-content;
  border-radius: 5px;
  display: flex;
  /* align-items: center; */
  padding-left: 10px;
  /* padding-right: 10px; */
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  flex-direction: column-reverse;
  /*  important change */
  max-width: 100%;
}

.right .chats .chatRight .rightText p,
.right .chats .chatLeft .leftText p {
  display: flex;
  align-items: center;
  position: relative;
  gap: 3px;
  padding-right: 5px;
}

.right .chats .chatRight .rightText p .p_icon,
.right .chats .chatLeft .leftText p .p_icon {
  display: flex;
  align-items: center;
}

.right .chats .chatRight .rightText p .p_icon svg,
.right .chats .chatLeft .leftText p .p_icon svg {
  fill: #601463;
  font-size: 20px;
}

.right .chats .chatLeft .leftText {
  background-color: #1b75d0;
  color: var(--softTextColor);
  margin-right: 10px;
}

.right .chats .chatRight .rightText {
  background-color: #e7700d;
  color: var(--softTextColor);
}

.p_text {
  white-space: pre-wrap;
}

.messageBox {
  margin-right: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 5000;
}

.messageBox .form {
  display: flex;
  align-items: center;
  gap: 2px;
  background-color: var(--lightBg);
}

.messageBox textarea {
  background-color: var(--lightBg);
  color: var(--textColor);
  outline: none;
  border: none;
  padding: 20px;
  width: 100%;
  font-size: 16px;
  height: 75px !important;
}


.messageBox button {
  padding: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #1b75d0;
  color: var(--softTextColor);
  margin-right: 20px;
}

.searchContainer input {
  background-color: var(--bg);
}

.left {
  width: 100%;
  z-index: 0;
  height: unset;
  background-color: var(--bg);
}

.right {
  margin-left: unset;
}

.profile {
  margin-bottom: 25px;
}

.personContainer span {
  font-size: 16px;
}