.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.post {
  border: 3px solid var(--lightBg);
  border-radius: 5px;
  background: var(--lightBg);
  width: 500px;
  margin-top: 50px;
}

.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profileImg {
  border-radius: 50%;
  object-fit: cover;
}

.profile div {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  padding-left: 10px;
}

.box_1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.box_1 span {
  color: var(--orangeColor);
}

.box_2 {
  margin-bottom: 20px;
  max-width: 500px;
}

.imgContainer {
  position: relative;
  padding-top: 10px;
  max-width: 500px;
  height: 300px;
  margin-bottom: 20px;
}

.about {
  margin-bottom: 10px;
  padding-left: 10px;
  white-space: pre-wrap;
  line-height: 25px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1877f2;
  outline: none;
  color: var(--softTextColor);
  width: 100%;
}

@media screen and (max-width: 550px) {
  .post {
    width: 100%;
  }
}