.container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
}

.button {
  font-size: 16px;
  font-weight: 600;
  background-color: #e7700d;
  border-radius: 6px;
  color: var(--softTextColor);
  padding: 12px 16.4px;
  text-align: center;
  outline: none;
  border: none;
  height: fit-content;
  cursor: pointer;
}