.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

.imgContainer {
  position: relative;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.imgContainer svg {
  position: absolute;
  right: 0;
  top: 13px;
  font-size: 50px;
  margin-right: -7px;
  fill: #6a7285;
  cursor: pointer;
}

.imgContainer img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  border: 2px solid var(--lightBg);
}

.profileFile {
  display: none;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.profileWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formgroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.formgroup input[type=file] {
  border: 1px solid var(--softTextColor);
  cursor: pointer;
}

.formgroup input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.formgroup span {
  font-size: 14px;
}

.editButton {
  padding: 10px 20px;
  background: #111;
  color: white;
  border: none;
  cursor: pointer;
}

.postsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postsContainer select {
  outline: none;
  border-radius: 5px;
  width: 400px;
  padding: 5px 10px;
}

.buttonContainer button {
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  background-color: var(--blueColor);
  color: var(--softTextColor);
  border-color: var(--blueColor);
  border: none;
  width: 100%;
}

@media screen and (max-width: 550px) {
  .profileWrapper {
    width: 100%;
  }

  .posts {
    width: 100%;
  }

  .formgroup {
    margin-left: 20px;
    margin-right: 20px;
  }

  .buttonContainer {
    margin-right: 20px;
    margin-left: 20px;
  }
}